* {
  margin: 0;
  padding: 0; }

#cont-menu {
  list-style: none;
  font-size: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center; }
  #cont-menu .nav__ul {
    width: 100%;
    display: flex;
    justify-content: space-around; }
  #cont-menu .ul-cont-submenus {
    position: absolute;
    display: none; }
    #cont-menu .ul-cont-submenus li {
      display: block; }
  #cont-menu li:hover {
    background-color: aquamarine; }
    #cont-menu li:hover .ul-cont-submenus {
      display: block;
      background-color: #43fdbc; }
  #cont-menu li a {
    color: white;
    text-decoration: none; }

.li-cont-submenus-menu {
  display: inline-block;
  position: relative;
  font-size: 14px;
  text-align: center; }

.li-submenus-menu {
  width: 100%;
  text-align: center; }

header {
  display: flex;
  width: 100%;
  background-image: url(../assets/imagenes/gif-de-verdad.gif); }

#cont-imagen-menu {
  width: 10%; }
  #cont-imagen-menu #foto-menu {
    width: 100%;
    border-radius: 100%;
    border: solid white; }

#tit-pag {
  background-image: url(../assets/imagenes/gif-de-verdad.gif);
  display: flex;
  justify-content: center;
  text-align: center; }
  #tit-pag h1 {
    color: white; }

.img-noti {
  width: 100%; }
