* {
  margin: 0;
  padding: 0; }

body {
  background-image: url(../assets/imagenes/gif-de-verdad.gif); }

header {
  width: 100%;
  background-image: url(../assets/imagenes/gif-de-verdad.gif);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  height: 350px; }
  header #cont-imagen-menu, header #cont-menu {
    display: inline-block;
    vertical-align: middle; }
  header #cont-imagen-menu {
    width: 10%; }
    header #cont-imagen-menu #foto-menu {
      width: 100%;
      border-radius: 100%;
      border: solid white;
      transition: 1s; }
      header #cont-imagen-menu #foto-menu:hover {
        rotate: 360deg; }

@keyframes rotate {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(7560deg); } }
  header #cont-menu {
    width: 80%;
    display: flex;
    justify-content: center;
    list-style: none;
    font-size: 0; }
    header #cont-menu .nav__ul {
      width: 100%;
      list-style: none;
      display: flex;
      justify-content: space-around;
      align-items: center; }
    header #cont-menu .ul-cont-submenus {
      position: absolute;
      display: none; }
      header #cont-menu .ul-cont-submenus li {
        display: block; }
    header #cont-menu .li-cont-submenus-menu {
      position: relative;
      font-size: 22px; }
      header #cont-menu .li-cont-submenus-menu:hover {
        background-color: #6A378C;
        box-shadow: 0 0 7px 1px #6A378C; }
        header #cont-menu .li-cont-submenus-menu:hover .ul-cont-submenus {
          display: block;
          background-color: #6A378C;
          box-shadow: 0 0 7px 1px #6A378C;
          width: 100%; }
      header #cont-menu .li-cont-submenus-menu a {
        color: white;
        text-decoration: none;
        font-weight: 1000;
        font-size: 20; }
  header #tit-pag {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    width: 100%; }
    header #tit-pag h1 {
      color: white;
      font-size: 2rem;
      margin: 0; }

@media (max-width: 768px) {
  #cont-imagen-menu, #cont-menu {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 10px; }
  #cont-menu .nav__ul {
    flex-direction: column;
    align-items: center; }
  .li-cont-submenus-menu {
    width: 100%; }
  .ul-cont-submenus {
    width: 100%; }
  #tit-pag h1 {
    font-size: 1.5rem; } }

@media (max-width: 480px) {
  #cont-imagen-menu {
    width: 30%; }
  #tit-pag h1 {
    font-size: 1.2rem; } }

footer {
  background-color: #4F2859;
  list-style: none; }
  footer .map-container iframe {
    border-radius: 8px; }
  footer h5 {
    color: #6A378C;
    font-weight: bold;
    margin-bottom: 15px; }
  footer .container {
    padding: 0 15px; }
  @media (max-width: 768px) {
    footer .footer-image {
      display: none; }
    footer .map-container iframe {
      height: 200px; } }
  @media (max-width: 480px) {
    footer .row {
      flex-direction: column;
      text-align: center; }
    footer .map-container iframe {
      height: 250px; } }

.img-noti {
  width: 100%;
  padding: 1% 1% 1% 1%;
  border-radius: 20px  20px 20px 20px; }

.tex {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-start;
  color: white; }
  .tex h2 {
    font-size: 33px; }
  .tex #noti3 {
    margin-top: 5%; }
  .tex #noti4 {
    margin-top: 12%; }
  .tex #noti5 {
    margin-top: 14%; }
  .tex #noti6 {
    padding: 1% 0 0 0;
    margin-top: 14%; }

#gif {
  width: 100%;
  height: 38%;
  padding: 1% 1% 1% 1%; }

a {
  text-decoration: none;
  color: white; }

#img-media {
  width: 100%;
  height: 14%;
  padding: 1% 1% 1% 1%; }

#espacio2 {
  height: 24%; }

#gif2 {
  height: 12%; }

.brillo {
  filter: brightness(100%); }
  .brillo:hover {
    filter: brightness(115%); }

.sub {
  text-decoration: none; }
  .sub:hover {
    text-decoration: underline; }

#registro {
  font-family: Arial, sans-serif;
  background-image: url(https://www.fayerwayer.com/resizer/v2/4QTSSOO2LREORNJURVEZSBIXTY.jpg?auth=53e2b4ee041bd22dc59edc7d4e4c0836c31d540db72dc02db9527ddc39bba7f5&width=800&height=534);
  background-size: cover;
  background-position: center;
  color: white; }
  #registro .bot- {
    margin: 0 0 1% 0; }

@media screen and (min-width: 320px) and (max-width: 767px) {
  #desaparecer {
    width: 0%; }
  .img-noti {
    width: 0%; } }

@media screen and (min-width: 768px) and (max-width: 991px) {
  .desaparecer {
    width: 0%; }
  .tex h2 {
    font-size: x-large; } }

@media screen and (min-width: 992px) and (max-width: 1023px) {
  .tex h2 {
    font-size: 22px; } }

.cuadrado {
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 3px;
  margin-left: 2%;
  margin-top: 9%; }
  .cuadrado .row {
    display: flex;
    align-items: center;
    flex-direction: row-reverse; }
    .cuadrado .row .para {
      padding: 2px; }

.izquierda {
  order: 0; }

.derecha {
  order: 1; }

.invertido .row {
  flex-direction: row-reverse; }

.invertido .izquierda {
  order: 1; }

.invertido .derecha {
  order: 0; }

@media (max-width: 768px) {
  .cuadrado .row {
    flex-direction: column; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

#contactos {
  font-family: Arial, sans-serif;
  background-image: url("https://cdn.pixabay.com/photo/2017/08/10/00/40/stars-2616537_1280.jpg");
  background-size: cover;
  background-position: center;
  color: white; }

main {
  padding: 3% 0;
  color: white; }
  main div h1 {
    color: white;
    margin-bottom: 1%; }
  main div p {
    font-size: 3%;
    color: white;
    margin-bottom: 2%; }

.contact-form {
  background-color: #261A23;
  padding: 4%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); }
  .contact-form .form-control {
    border-radius: 4px;
    color: white;
    border: none;
    margin-bottom: 1.5%;
    padding: 2%;
    font-size: 90%; }

.contact-form textarea {
  resize: none;
  min-height: 150px; }

.btn-violeta {
  background-color: #6A378C;
  color: white;
  padding: 4%;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 90%;
  transition: background-color 0.3s; }
  .btn-violeta:hover {
    background-color: #4F2859; }

.pagina-inicio {
  background: url("https://cdn.pixabay.com/photo/2017/08/10/00/40/stars-2616537_1280.jpg") no-repeat center center/cover; }

.caja-login {
  padding: 2%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  background-color: #261A23 !important; }
  @media (min-width: 576px) {
    .caja-login {
      width: 80%; } }
  @media (min-width: 768px) {
    .caja-login {
      width: 70%; } }
  @media (min-width: 992px) {
    .caja-login {
      width: 60%; } }
  @media (min-width: 1200px) {
    .caja-login {
      width: 50%; } }

.titulo {
  font-size: xx-large;
  margin-bottom: 5%;
  color: white; }

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center; }

.form-group {
  margin-bottom: 5%;
  width: 100%; }

.etiqueta {
  display: block;
  margin-bottom: 2.5%;
  color: white; }

.entrada {
  width: 100%;
  padding: 2.5%;
  border: 1px solid white;
  border-radius: 5px; }

.checkbox {
  margin-right: 2.5%; }

.boton {
  background-color: #6A378C;
  color: white;
  padding: 2.5% 5%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%; }
  .boton:hover {
    background-color: #301836; }

.registro {
  margin-top: 5%;
  color: #6A378C; }

.enlace {
  color: #755575;
  text-decoration: none; }
  .enlace:hover {
    text-decoration: underline; }

#div-titulo1 {
  justify-content: center;
  margin-top: 1%;
  margin-left: 28%;
  margin-right: 10%;
  background-color: #066464;
  color: black;
  border-radius: 25px;
  width: 550px;
  height: 50px;
  transition: width 2s, height 2s; }

#div-titulo1:hover {
  color: white;
  width: 575px;
  height: 60px;
  background-color: #068c96; }

#titulo1 {
  justify-content: center;
  margin-top: 1%;
  margin-left: 42%;
  margin-right: 10%;
  animation: aparecer 4s 5; }

@keyframes aparecer {
  from {
    opacity: 0; }
  to {
    opacity: 1;
    color: white; } }

#divtitulo2 {
  font-size: 20%;
  margin-left: 15%;
  margin-right: 15%;
  justify-content: center;
  margin-top: 3%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

#div-titulo3 {
  margin-top: 3%;
  justify-content: center;
  margin-left: 27%;
  margin-right: 25%;
  font-family: Arial, Helvetica, sans-serif;
  transition: transform 0.3s ease; }

#div-titulo3:hover {
  transform: scale(1.3); }

#titulo3 {
  margin-top: 3%;
  justify-content: center;
  margin-left: 28%;
  margin-right: 10%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  animation: aparecer 4s 5; }

@keyframes aparecer {
  from {
    opacity: 0; }
  to {
    opacity: 1;
    color: white; } }

#div-h3-titulo3 {
  display: inline-block;
  padding: 10px 20px;
  margin: 20px auto;
  background-color: #06a0aa;
  color: black;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: transform 0.3s ease, background-color 0.3s ease; }

#div-h3-titulo3:hover {
  transform: scale(1.1);
  background-color: #068c96; }

#div-titulo4 {
  font-size: 40px;
  margin-top: 3%;
  justify-content: center;
  margin-left: 40%;
  margin-right: 1%;
  animation: aparecer 4s 5; }

@keyframes aparecer {
  from {
    opacity: 0; }
  to {
    opacity: 1;
    color: white; } }

#titulo4 {
  font-size: 40px;
  margin-top: 3%;
  justify-content: center;
  margin-left: 28%;
  margin-right: 25%;
  transition: transform 0.3s ease; }

#titulo4:hover {
  transform: scale(1.2); }

#div-titulo5 {
  font-size: 30px;
  margin-top: 3%;
  justify-content: center;
  margin-left: 25%;
  margin-right: 25%;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

#div-titulo6 {
  font-size: 30px;
  margin-top: 3%;
  justify-content: center;
  margin-left: 20%;
  margin-right: 25%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }

.section-img-galaxia {
  margin-top: 3%;
  justify-content: center;
  margin-left: 32%;
  margin-right: 10%;
  display: flex;
  width: 400px;
  height: 250px; }

#div-carousel-tamano {
  width: 100%;
  height: 550px; }

#div-carousel-tamanos {
  margin-left: -1%;
  margin-right: 15%;
  width: 320px;
  height: 500px;
  margin-top: 5%; }

#fotos-center {
  margin-left: -5%; }

.cont-fotos1 {
  height: 400px;
  width: 350px;
  border: solid 8px #068c96; }

.cont-fotos2 {
  height: 400px;
  width: 350px;
  border: solid 10px #068c96;
  transition: transform 0.1s ease; }

.cont-fotos2:hover {
  transform: scale(0.8); }

#cont-explora-h2-p-img-main {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 10%; }

.cont-titulo-explora-main {
  width: 100%;
  justify-content: center;
  display: flex;
  border: solid 5px; }
  .cont-titulo-explora-main h2 {
    color: black; }

.cont-text-explora-main {
  width: 100%;
  justify-content: center;
  display: flex;
  border: solid 5px; }
  .cont-text-explora-main .text-explora-main {
    color: black;
    font-size: 23px;
    text-align: center; }

.imagen-telescopio-card {
  width: 20%; }

.text-card {
  font-size: 15px;
  color: black; }
