* {
  margin: 0;
  padding: 0; }

.main-fondo {
  background-image: url(../assets/imagenes/gif-de-verdad.gif); }

header {
  width: 100%;
  background-image: url(../assets/imagenes/menu.gif);
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: solid 2px black;
  background-position: 50% 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  height: 350px; }
  header #cont-imagen-menu, header #cont-menu {
    display: inline-block;
    vertical-align: middle; }
  header #cont-imagen-menu {
    width: 10%; }
    header #cont-imagen-menu #foto-menu {
      width: 100%;
      border-radius: 100%;
      border: solid white;
      transition: 1s; }
      header #cont-imagen-menu #foto-menu:hover {
        rotate: 360deg;
        filter: opacity(50%); }

@keyframes rotate {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(7560deg); } }
  header #cont-menu {
    width: 80%;
    display: flex;
    justify-content: center;
    list-style: none;
    font-size: 0; }
    header #cont-menu .nav__ul {
      width: 100%;
      list-style: none;
      display: flex;
      justify-content: space-around;
      align-items: center; }
    header #cont-menu .ul-cont-submenus {
      position: absolute;
      display: none;
      margin: 0 !important;
      padding: 0 !important;
      text-align: center;
      width: 100%; }
      header #cont-menu .ul-cont-submenus li {
        display: block; }
    header #cont-menu .li-cont-submenus-menu {
      position: relative;
      font-size: 20px; }
      header #cont-menu .li-cont-submenus-menu:hover {
        background-color: #261A23;
        box-shadow: 0 0 7px 1px white; }
        header #cont-menu .li-cont-submenus-menu:hover .ul-cont-submenus {
          display: block;
          background-color: #261A23;
          box-shadow: 0 0 7px 1px white;
          width: 100%; }
      header #cont-menu .li-cont-submenus-menu a {
        color: white;
        text-decoration: none;
        font-weight: 1000px;
        font-size: 20px; }
  header #tit-pag {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    width: 100%; }
    header #tit-pag h1 {
      color: white;
      font-size: 2rem;
      margin: 0; }

@media (max-width: 768px) {
  #cont-imagen-menu, #cont-menu {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 10px; }
  #cont-menu .nav__ul {
    flex-direction: column;
    align-items: center; }
  .li-cont-submenus-menu {
    width: 100%; }
  .ul-cont-submenus {
    width: 100%; }
  #tit-pag h1 {
    font-size: 1.5rem; } }

@media (max-width: 480px) {
  #cont-imagen-menu {
    width: 30%; }
  #tit-pag h1 {
    font-size: 1.2rem; } }

.footer {
  background-color: #161014;
  color: white;
  padding: 2rem 0; }
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem; }
    @media (max-width: 768px) {
      .footer__container {
        flex-direction: column; } }
  .footer__section {
    flex: 1; }
    .footer__section--map iframe {
      border: none;
      border-radius: 8px; }
  .footer__title {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid #4F2859;
    display: inline-block; }
  .footer__list {
    list-style: none;
    padding: 0;
    margin: 0; }
    .footer__list .footer__link {
      color: white;
      text-decoration: none;
      margin-bottom: 0.5rem;
      display: block; }
      .footer__list .footer__link:hover {
        color: #6A378C; }
  .footer__bottom {
    text-align: center;
    margin-top: 2rem;
    font-size: 0.875rem;
    border-top: 1px solid;
    padding-top: 1rem; }

#astro-noti {
  padding-top: 10%; }

.img-noti {
  width: 100%;
  padding: 1% 1% 1% 1%;
  border-radius: 20px  20px 20px 20px; }

.tex {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-start;
  color: white; }
  .tex h2 {
    font-size: 33px; }
  .tex #noti3 {
    margin-top: 5%; }
  .tex #noti4 {
    margin-top: 12%; }
  .tex #noti5 {
    margin-top: 14%; }
  .tex #noti6 {
    padding: 1% 0 0 0;
    margin-top: 14%; }

#gif {
  width: 100%;
  height: 38%;
  padding: 1% 1% 1% 1%; }

a {
  text-decoration: none;
  color: white; }

#img-media {
  width: 100%;
  height: 14%;
  padding: 1% 1% 1% 1%; }

#espacio2 {
  height: 24%; }

#gif2 {
  height: 12%; }

.brillo {
  filter: brightness(100%); }
  .brillo:hover {
    filter: brightness(115%); }

.sub {
  text-decoration: none; }
  .sub:hover {
    text-decoration: underline; }

#registro {
  font-family: Arial, sans-serif;
  background-image: url(../assets/imagenes/patata.jpg);
  background-size: cover;
  background-position: center;
  color: white; }
  #registro .bot- {
    margin: 0 0 1% 0; }

@media screen and (min-width: 320px) and (max-width: 767px) {
  #desaparecer {
    width: 0%; }
  .img-noti {
    width: 0%; } }

@media screen and (min-width: 768px) and (max-width: 991px) {
  .desaparecer {
    width: 0%; }
  .tex h2 {
    font-size: x-large; } }

@media screen and (min-width: 992px) and (max-width: 1023px) {
  .tex h2 {
    font-size: 22px; } }

.contenedor-del-grupo {
  background-image: url("../assets/imagenes/gif-de-verdad.gif");
  width: 100%; }

.Texto-principal {
  text-align: center;
  justify-content: center;
  background-image: url("../assets/imagenes/gif-de-verdad.gif");
  color: white;
  height: 50px; }

.header-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: url("../assets/imagenes/gif-de-verdad.gif"); }

.header-container-cuadrado {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url("../assets/imagenes/gif-de-verdad.gif");
  margin-top: 5px; }

.header-container-cuadrado a {
  text-decoration: none;
  color: white;
  font-weight: bold; }

.header-container-cuadrado:hover {
  background-image: url("../assets/imagenes/menu.gif"); }

.main-contenedor {
  width: 93%;
  padding: 5px;
  margin-left: 4%;
  background-color: white; }
  .main-contenedor .row {
    display: flex;
    align-items: center;
    flex-direction: row-reverse; }
    .main-contenedor .row img {
      width: 100%;
      margin: 5% 0% 5% 0%; }
    .main-contenedor .row p {
      font-size: 20px;
      color: #067373;
      margin: 5% 0% 5% 5%; }
    .main-contenedor .row h3 {
      color: #067373;
      margin: 5% 0% 5% 5%; }

.invertido .row {
  flex-direction: row-reverse; }

@media (max-width: 768px) {
  .cuadrado .row {
    flex-direction: column; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.pagina-inicio {
  font-family: Arial, sans-serif;
  background-image: url(../assets/imagenes/patata.jpg);
  background-size: cover;
  background-position: center; }

.container__contactos {
  padding: 3% 0;
  color: white; }
  .container__contactos .formulario__contactos__encabezado .formulario__contactos__titulo {
    color: white;
    margin-bottom: 1%; }
  .container__contactos .formulario__contactos__encabezado .formulario__contactos__subtitulo {
    font-size: x-large;
    color: white;
    margin-bottom: 2%; }
  .container__contactos .container__formulario {
    margin-bottom: 5%; }

.formulario__contactos {
  background-color: #261A23;
  padding: 4%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: black; }
  .formulario__contactos .formulario__contactos__control {
    border-radius: 4px;
    color: black;
    border: none;
    margin-bottom: 1.5%;
    padding: 2%;
    font-size: 90%; }

.btn-violeta {
  background-color: #6A378C;
  color: white;
  padding: 4% 7%;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 90%;
  text-align: center;
  display: inline-block;
  transition: background-color 0.3s;
  margin-bottom: 5%;
  cursor: pointer; }
  .btn-violeta:hover {
    background-color: #4F2859; }

.caja-login {
  color: white;
  padding: 2%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  background-color: #261A23 !important; }
  @media (min-width: 576px) {
    .caja-login {
      width: 80%; } }
  @media (min-width: 768px) {
    .caja-login {
      width: 70%; } }
  @media (min-width: 992px) {
    .caja-login {
      width: 60%; } }
  @media (min-width: 1200px) {
    .caja-login {
      width: 50%; } }

.titulo {
  font-size: xx-large;
  margin-bottom: 5%;
  color: white; }

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center; }

.formulario__grupo {
  margin-bottom: 5%;
  width: 100%; }

.formulario__etiqueta {
  display: inline-block;
  color: white; }

.formulario__entrada {
  width: 100%;
  padding: 2.5%;
  border: 1px solid #261A23;
  border-radius: 5px;
  color: #261A23; }

.formulario__grupo--checkbox {
  display: flex;
  align-items: center;
  margin-right: 2.5%; }

.formulario__boton--iniciar-sesion {
  background-color: #6A378C;
  color: white;
  padding: 2.5% 5%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%; }
  .formulario__boton--iniciar-sesion:hover {
    background-color: #301836; }

.formulario__registro {
  margin-top: 5%;
  color: #6A378C; }

.formulario__enlace {
  color: #755575;
  text-decoration: none; }
  .formulario__enlace:hover {
    text-decoration: underline; }

* {
  padding: 0%;
  margin: 0%; }

#div-titulo1 {
  justify-content: center;
  margin-top: 1%;
  margin-left: 28%;
  margin-right: 10%;
  background-color: #066464;
  color: black;
  border-radius: 25px;
  width: 550px;
  height: 50px;
  transition: width 2s, height 2s; }

#div-titulo1:hover {
  color: white;
  width: 575px;
  height: 60px;
  background-color: #068c96; }

#titulo1 {
  justify-content: center;
  margin-top: 1%;
  margin-left: 42%;
  margin-right: 10%;
  animation: aparecer 4s 5; }

@keyframes aparecer {
  from {
    opacity: 0; }
  to {
    opacity: 1;
    color: white; } }

#divtitulo2 {
  font-size: 20%;
  margin-left: 15%;
  margin-right: 15%;
  justify-content: center;
  margin-top: 3%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

#div-titulo3 {
  margin-top: 3%;
  justify-content: center;
  margin-left: 27%;
  margin-right: 25%;
  font-family: Arial, Helvetica, sans-serif;
  transition: transform 0.3s ease; }

#div-titulo3:hover {
  transform: scale(1.3); }

#titulo3 {
  margin-top: 3%;
  justify-content: center;
  margin-left: 28%;
  margin-right: 10%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  animation: aparecer 4s 5; }

@keyframes aparecer {
  from {
    opacity: 0; }
  to {
    opacity: 1;
    color: white; } }

#div-h3-titulo3 {
  display: inline-block;
  padding: 10px 20px;
  margin: 20px auto;
  background-color: #06a0aa;
  color: black;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: transform 0.3s ease, background-color 0.3s ease; }

#div-h3-titulo3:hover {
  transform: scale(1.1);
  background-color: #068c96; }

#div-titulo4 {
  font-size: 40px;
  margin-top: 3%;
  justify-content: center;
  margin-left: 40%;
  margin-right: 1%;
  animation: aparecer 4s 5; }

@keyframes aparecer {
  from {
    opacity: 0; }
  to {
    opacity: 1;
    color: white; } }

#titulo4 {
  font-size: 40px;
  margin-top: 3%;
  justify-content: center;
  margin-left: 28%;
  margin-right: 25%;
  transition: transform 0.3s ease; }

#titulo4:hover {
  transform: scale(1.2); }

#div-titulo5 {
  font-size: 30px;
  margin-top: 3%;
  justify-content: center;
  margin-left: 25%;
  margin-right: 25%;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

#div-titulo6 {
  font-size: 30px;
  margin-top: 3%;
  justify-content: center;
  margin-left: 20%;
  margin-right: 25%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }

.section-img-galaxia {
  margin-top: 3%;
  justify-content: center;
  margin-left: 32%;
  margin-right: 10%;
  display: flex;
  width: 400px;
  height: 250px; }

#div-carousel-tamano {
  width: 100%;
  height: 550px; }

#div-carousel-tamanos {
  margin-left: -1%;
  margin-right: 15%;
  width: 320px;
  height: 500px;
  margin-top: 5%; }

#fotos-center {
  margin-left: -5%; }

.cont-fotos1 {
  height: 400px;
  width: 350px;
  border: solid 8px #068c96; }

.cont-fotos2 {
  height: 400px;
  width: 350px;
  border: solid 10px #068c96;
  transition: transform 0.1s ease; }

.cont-fotos2:hover {
  transform: scale(0.8); }

#video-tamano {
  margin-left: 22%;
  width: 710px;
  height: 450px; }

#pasos-video {
  justify-content: center;
  margin-right: 100%;
  animation: aparecer 4s 5; }

@keyframes aparecer {
  from {
    opacity: 0; }
  to {
    opacity: 1;
    color: white; } }

#titulo1-pag2 {
  justify-content: center;
  margin-top: 1%;
  margin-left: 44%;
  margin-right: 10%;
  animation: aparecer 4s 5; }

@keyframes aparecer {
  from {
    opacity: 0; }
  to {
    opacity: 1;
    color: white; } }

#titulo4-pag2 {
  font-size: 40px;
  margin-top: 3%;
  justify-content: center;
  margin-left: 26%;
  margin-right: 25%;
  transition: transform 0.3s ease; }

#titulo4-pag2:hover {
  transform: scale(1.2); }

#titulo1-pag3 {
  justify-content: center;
  margin-top: 1%;
  margin-left: 27%;
  margin-right: 10%;
  animation: aparecer 4s 5;
  transition: transform 0.3s ease; }

@keyframes aparecer {
  from {
    opacity: 0; }
  to {
    opacity: 1;
    color: white; } }

#titulo1-pag3:hover {
  transform: scale(1.1); }

#accordionFlushExample {
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  margin-left: 25%;
  margin-right: 25%; }

#letra-color-pag3 {
  color: #067373; }

#cont-explora-h2-p-img-main {
  margin-left: 15%;
  margin-right: 15%; }

.cont-titulo-explora-main {
  width: 100%;
  justify-content: center;
  display: flex;
  border: solid 5px; }
  .cont-titulo-explora-main h2 {
    color: black; }

.cont-text-explora-main {
  width: 100%;
  justify-content: center;
  display: flex;
  border: solid 5px; }
  .cont-text-explora-main .text-explora-main {
    color: black;
    font-size: 23px;
    text-align: center; }

.imagen-telescopio-card {
  width: 20%; }

.text-card {
  font-size: 15px;
  color: black; }
