.img-noti{
    width: 100%;
    padding: 1% 1% 1% 1%;
}
.tex{
   display: flex;
   flex-direction: column;
   text-align: center;
   justify-content:flex-start;
   
    h2{
        font-size: 29px;
    }
    #noti6{
        padding: 1% 0 0 0;
        h2{
            font-size: 25px;
        }
    }
}
#gif{
    width: 100%;
    height: 43%;
    padding: 1% 1% 1% 1%;
}
#img-media{
    width: 100%;
    height: 16%;
    padding: 1% 1% 1% 1%;
}

#espacio2{
    height: 27%;
}
#gif2{
    
    height: 14%;
}
