$colornegro: #261A23;
$colorvioletaoscuro: #4F2859;
$colorvioleta: #6A378C;
$colorcyan: #067373;
$colormarron: #593936;
$text-color: white; 

.img-noti{
    width: 100%;
    padding: 1% 1% 1% 1%;
    border-radius: 20px  20px 20px 20px;
}
.tex{
   display: flex;
   flex-direction: column;
   text-align: center;
   justify-content: flex-start;
   
    h2{
        font-size: 33px;
    }
    #noti6{
        padding: 1% 0 0 0;
     
    }
}
#gif{
    width: 100%;
    height: 38%;
    padding: 1% 1% 1% 1%;
}
#img-media{
    width: 100%;
    height: 14%;
    padding: 1% 1% 1% 1%;
}

#espacio2{
    height: 24%;
}
#gif2{
    height: 12%;
}
.brillo{
    filter: brightness(100%);
    &:hover{
        filter: brightness(115%);
    }
}
.sub{
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}
#registro{
    font-family: Arial, sans-serif;
    background-image: url(https://www.fayerwayer.com/resizer/v2/4QTSSOO2LREORNJURVEZSBIXTY.jpg?auth=53e2b4ee041bd22dc59edc7d4e4c0836c31d540db72dc02db9527ddc39bba7f5&width=800&height=534);
    background-size: cover;
    background-position: center ; 
    color: $text-color;
    .bot-{
        margin: 0 0 1% 0;
    }
    
}
