#astro-noti{
    padding-top: 10%;
}

.main-div-desaparecer-img-noti{
    width: 100%;
    padding: 1% 1% 1% 1%;
    border-radius: 20px  20px 20px 20px;
    border: solid 1px white;
    filter: brightness(100%);
    &:hover{
        filter: brightness(115%);
    }
}
.main-div-tex{
   display: flex;
   flex-direction: column;
   text-align: center;
   justify-content: flex-start;
   color: $text-color;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #000000;
    animation: glow 1.5s infinite alternate;
   
    h2{
        font-size: 33px;
    }
    #main-div-tex-noti2{
        margin-top: 12%;
    }
    #main-div-tex-noti3{
        margin-top: 25%;
    }
    #main-div-tex-noti4{
        margin-top: 25%;
    }
    #main-div-tex-noti5{
        margin-top: 24%;
    }
    #main-div-tex-noti6{
        padding: 1% 0 0 0;
        margin-top: 26%;
        
             
    }
    .main-div-tex-sub{
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }

}
#main-div-desaparecer-gif{
    width: 100%;
    height: 38%;
    padding: 1% 1% 1% 1%;
}

#main-div-desaparecer-img-media{
    width: 100%;
    height: 14%;
    padding: 1% 1% 1% 1%;
}

#main-div-desaparecer-espacio2{
    height: 24%;
}
#main-div-desaparecer-gif2{
    height: 12%;
}
#registro{
    font-family: Arial, sans-serif;
    background-image: url(../assets/imagenes/imagen-footeryinicio.jpg);
    background-size: cover;
    background-position: center ; 
    color: $text-color;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #000000;
    animation: glow 1.5s infinite alternate;
    .bot-{
        margin: 0 0 1% 0;
    }
    a{
        color: $text-color;
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #000000;
        animation: glow 1.5s infinite alternate;
    }
    
}
#astro-noti{
    a{
        text-decoration: none;
        color: $text-color;
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #000000;
        animation: glow 1.5s infinite alternate;
    }
}
@media screen and (min-width: 320px) and (max-width: 767px){
    #astro-noti{
        img{
            display: none;
        }
    }
}
@media screen and (min-width: 768px) and (max-width: 991px){
    .main-div-desaparecer{
        display: none;
    }
    .tex{
        h2{
            font-size: x-large;
        }
    }
}
@media screen and (min-width: 992px) and (max-width: 1023px){
    .tex{
        h2{
            font-size: 22px;
        }
    }   
}