
$colornegro: #261A23;
$colorvioletaoscuro: #4F2859;
$colorvioleta: #6A378C;
$colorcyan: #067373;
$colormarron: #593936;


.Texto-principal{
  text-align: center;
  justify-content: center;
  color: white;
  height: 50px;
  margin-top: 15px;
}
.header-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;  
}

.header-container-cuadrado {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-container-cuadrado a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.header-container-cuadrado:hover {
  background-image: url('../assets/imagenes/menu.gif');
}

.main-contenedor {
  width: 93%;
  padding: 5px;
  margin-left: 4%;
  background-color: rgba(226, 226, 226, 0.792);
  .row {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    
    img{
      width: 100%;
      margin: 5% 0% 5% 0% ;
    } 
    p{
      font-size: 20px;
      color: $colorcyan;
      margin: 5% 0% 5% 5% ;
    }
    h3{
      color: $colorcyan;
      margin: 5% 0% 5% 5% ;
    }
  

  }
}


.invertido {
  .row {
    flex-direction: row-reverse; 
  }
}

@media (max-width: 768px) {
  .cuadrado {
    .row {
      flex-direction: column;
    }
  }
}
.curso {
  display: flex;
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 20px;
  
  &__image {
    width: 30%;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  
  &__content {
    width: 70%;
    padding-left: 15px;
    
    &__title {
      font-size: 35px;
      margin-bottom: 10px;
    }
    
    &__description {
      font-size: 20px;
      margin-bottom: 20px;
    }
    
    &__button {
      font-size: 25px;
    }
  }
}
