
$colornegro: #261A23;
$colorvioletaoscuro: #4F2859;
$colorvioleta: #6A378C;
$colorcyan: #067373;
$colormarron: #593936;


.contenedor-del-grupo{
  background-image: url('../assets/imagenes/gif-de-verdad.gif');
  width: 100%;
  
}
.Texto-principal{
  text-align: center;
  justify-content: center;
  background-image: url('../assets/imagenes/gif-de-verdad.gif');
  color: white;
  height: 50px;
}
.header-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: url('../assets/imagenes/gif-de-verdad.gif');

}

.header-container-cuadrado {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url('../assets/imagenes/gif-de-verdad.gif');
  margin-top: 5px;

}

.header-container-cuadrado a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.header-container-cuadrado:hover {
  background-image: url('../assets/imagenes/menu.gif');
}

.main-contenedor {
  width: 93%;
  padding: 5px;
  margin-left: 4%;
  background-color: white;
  .row {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    
    img{
      width: 100%;
      margin: 5% 0% 5% 0% ;
    } 
    p{
      font-size: 20px;
      color: $colorcyan;
      margin: 5% 0% 5% 5% ;
    }
    h3{
      color: $colorcyan;
      margin: 5% 0% 5% 5% ;
    }
  

  }
}


.invertido {
  .row {
    flex-direction: row-reverse; 
  }
}

@media (max-width: 768px) {
  .cuadrado {
    .row {
      flex-direction: column;
    }
  }
}
