* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
//----------------------------------------------contactos
.pagina-inicio {
  font-family: Arial, sans-serif;
  background-image: url(../assets/imagenes/patata.jpg);
  background-size: cover;
  background-position: center;
}

.container__contactos {
  padding: 3% 0;
  color: white;
  
  .formulario__contactos__encabezado {
    .formulario__contactos__titulo {
      color: white;
      margin-bottom: 1%;
    }

    .formulario__contactos__subtitulo {
      font-size: x-large;
      margin-bottom: 2%;
    }
  }

  .container__formulario {
    margin-bottom: 5%; 
  }
}

.formulario__contactos {
  background-color: $colornegro;
  padding: 4%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: black;
  .formulario__contactos__control{
    border-radius: 4px;
    color: black;
    border: none;
    margin-bottom: 1.5%;
    padding: 2%;
    font-size: 90%;
  }
}

.btn-violeta {
  background-color: $colorvioleta;
  padding: 4% 7%; 
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 90%;
  text-align: center; 
  display: inline-block; 
  transition: background-color 0.3s;
  margin-bottom: 5%;
  cursor: pointer; 

  &:hover {
    background-color: $colorvioletaoscuro;
  }
}




//----------------------------------------------------------inicio sesion

.caja-login {
  padding: 2%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  background-color: $colornegro !important;

  @media (min-width: 576px) {
      width: 80%;
  }

  @media (min-width: 768px) {
      width: 70%;
  }

  @media (min-width: 992px) {
      width: 60%;
  }

  @media (min-width: 1200px) {
      width: 50%;
  }
}

.titulo {
  font-size: xx-large; 
  margin-bottom: 5%;

}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;


}

.formulario__grupo {
  margin-bottom: 5%;
  width: 100%;
}

.formulario__etiqueta{
  display: inline-block;
}

.formulario__entrada {
  width: 100%;
  padding: 2.5%;
  border: 1px solid $colornegro;
  border-radius: 5px;
  color: #261A23;
}

.formulario__grupo--checkbox {
  display: flex;
  align-items: center;
  margin-right: 2.5%;
}

.formulario__boton--iniciar-sesion {
  background-color: $colorvioleta;
  padding: 2.5% 5%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;

  &:hover {
      background-color: darken($colorvioletaoscuro, 10%);
  }
}

.formulario__registro {
  margin-top: 5%;
  color: $colorvioleta;
}

.formulario__enlace {
  color: rgb(117, 85, 117);
  text-decoration: none;

  &:hover {
      text-decoration: underline;
  }
}


