$colornegro: #261A23;
$colorvioletaoscuro: #4F2859;
$colorvioleta: #6A378C;
$colorcyan: #067373;
$colormarron: #593936;
$color-texto: white; 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
//----------------------------------------------contactos
.pagina-inicio {
    font-family: Arial, sans-serif;
    background-image: url(../assets/imagenes/patata.jpg);
    background-size: cover;
    background-position: center ; 


  }


.container__contactos main {
  padding: 3% 0;
  color: white;
  div{
    h1{
      color: $color-texto;
      margin-bottom: 1%;
    }
    p{
        font-size: xx-large;
        color: $color-texto;
        margin-bottom: 2%;
      }
  }
}


.formulario__contactos {
  background-color: $colornegro;
  padding: 4%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: black;
  .formulario__contactos__control{
    border-radius: 4px;
    color: black;
    border: none;
    margin-bottom: 1.5%;
    padding: 2%;
    font-size: 90%;
    
  }

}


.btn-violeta {
  background-color: $colorvioleta;
  color: $color-texto;
  padding: 4% 5% 6% 7%;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 90%;
  transition: background-color 0.3s;
  margin-bottom: 5%;

  &:hover {
    background-color: $colorvioletaoscuro;
  }
}

//----------------------------------------------------------inicio sesion

.caja-login {
  color: $color-texto;
  padding: 2%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  background-color: $colornegro  !important;

  @media (min-width: 576px) {
      width: 80%;
  }

  @media (min-width: 768px) {
      width: 70%;
  }

  @media (min-width: 992px) {
      width: 60%;
  }

  @media (min-width: 1200px) {
      width: 50%;
  }
}

.titulo {
  font-size: xx-large; 
  margin-bottom: 5%;
  color: $color-texto;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  margin-bottom: 5%;
  width: 100%;
}

.etiqueta {
  display: block;
  margin-bottom: 2.5%;
  color: $colornegro;
}

.entrada {
  width: 100%;
  padding: 2.5%;
  border: 1px solid $color-texto;
  border-radius: 5px;
}

.checkbox {
  margin-right: 2.5%;
}

.boton {
  background-color: $colorvioleta;
  color: $color-texto;
  padding: 2.5% 5%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;

  &:hover {
      background-color: darken($colorvioletaoscuro, 10%);
  }
}

.registro {
  margin-top: 5%;
  color: $colorvioleta;
}

.enlace {
  color: rgb(117, 85, 117);
  text-decoration: none;

  &:hover {
      text-decoration: underline;
  }
}


.hola{
  margin-bottom: 5%;
}


.formulario__contactos__titulo{
  color: white;
}

.formulario__contactos__subtitulo{
  color: white;
}