#cont-explora-h2-p-img-main{
    margin-left: 15%;
    margin-right: 15%;
}

.cont-titulo-explora-main{
    width: 100%;
    justify-content: center;
    display: flex;
    border: solid 5px;
    h2{
        color: black;
    }


}

.cont-text-explora-main{
    width: 100%;
    justify-content: center;
    display: flex;
    border: solid 5px;
    .text-explora-main{
        color: black;
        font-size: 23px;
        text-align: center;
    }
}





.imagen-telescopio-card{
    width: 20%;
}

.text-card{
    font-size: 15px;
    color: black;
}