#cont-explora-h2-p-img-main{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10%;
}

.cont-titulo-explora-main{
    width: 100%;
    justify-content: center;
    display: flex;
    border: solid 5px;
    h2{
        color: black;
    }


}

.cont-text-explora-main{
    width: 100%;
    justify-content: center;
    display: flex;
    border: solid 5px;
    p{
        color: black;
    }
}


.panel {
    margin-bottom: 20px; /* Espacio entre las cards */
}
