$colornegro: #261A23;
$colorvioletaoscuro: #4F2859;
$colorvioleta: #6A378C;
$colorcyan: #067373;
$colormarron: #593936;

header {
    width: 100%;
    background-image: url(../assets/imagenes/gif-de-verdad.gif);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    height: 350px;
    

    #cont-imagen-menu, #cont-menu {
        display: inline-block;
        vertical-align: middle;
    }

    #cont-imagen-menu {
        width: 10%;
        #foto-menu {
            width: 100%;
            border-radius: 100%;
            border: solid white;
        }
    }

    #cont-menu {
        width: 80%;
        display: flex;
        justify-content: center;
        list-style: none;
        font-size: 0;

        .nav__ul {
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        .ul-cont-submenus {
            position: absolute;
            display: none;


            li {
                display: block;
            }
        }

        .li-cont-submenus-menu {
            position: relative;
            font-size: 22px;
            text-align: center;

            &:hover {
                background-color: $colorvioletaoscuro;
                width: 18%;
                background-image: url(../assets/imagenes/gif-de-verdad.gif);
                

                .ul-cont-submenus {
                    display: block;
                    background-color: $colorvioletaoscuro;
                    width: 100%;
                }
            }

            a {
                color: white;
                text-decoration: none;
                font-weight: 1000;
                font-size: 20;
            }
        }
    }

    #tit-pag {
        margin-top: 5%;
        display: flex;
        justify-content: center;
        
        width: 100%;

        h1 {
            color: white;
            font-size: 2rem;
            margin: 0;

        }
    }
}

// Responsividad
@media (max-width: 768px) {
    #cont-imagen-menu, #cont-menu {
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }

    #cont-menu .nav__ul {
        flex-direction: column;
        align-items: center;
    }

    .li-cont-submenus-menu {
        width: 100%;
    }

    .ul-cont-submenus {
        width: 100%;
    }

    #tit-pag h1 {
        font-size: 1.5rem;
    }
}

@media (max-width: 480px) {
    #cont-imagen-menu {
        width: 30%;
    }
    #tit-pag h1 {
        font-size: 1.2rem;
    }
}