
#cont-menu{
    list-style: none;
    font-size: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;

    .nav__ul{
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .ul-cont-submenus{
        position: absolute;
        display: none;

        li{
            display: block;
        }
    }

    li{
        &:hover{
            background-color: aquamarine;
            .ul-cont-submenus{
                display: block;
                background-color: rgb(67, 253, 188);
            }
        }

        a{
            color: white;
            text-decoration: none;
        }
    }
}

.li-cont-submenus-menu{
    display: inline-block;
    position: relative;
    font-size: 14px;
    text-align: center;
}


.li-submenus-menu{
    width: 100%;
    text-align: center;
}

header{
    display: flex;
    width: 100%;
    background-image: url(../assets/imagenes/gif-de-verdad.gif);
}

#cont-imagen-menu{
    width: 10%;


    #foto-menu{
        width: 100%;
        border-radius: 100%;
        border: solid white;
    }
}
#tit-pag{
    background-image: url(../assets/imagenes/gif-de-verdad.gif);
    display: flex;
    justify-content: center;
    text-align: center;
    h1{
        color: white;
    }
}