$colornegro: #261A23;
$colorvioletaoscuro: #4F2859;
$colorvioleta: #6A378C;
$colorcyan: #067373;
$colormarron: #593936;
$color-footer: #20151d;
$color-texto: rgb(249, 249, 249);


header {
    width: 100%;
    background-image: url(../assets/imagenes/menu.gif);
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: solid 2px black;
    background-position: 50% 97%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    height: 450px;
    a {
        color: white;
        text-decoration: none;
        font-weight: 100px;
        font-size: 20px;
    }
    #cont-imagen-menu, #cont-menu {
        display: inline-block;
        vertical-align: middle;
    }

        #cont-imagen-menu {
            width: 10%;
            #foto-menu {
                width: 100%;
                border-radius: 100%;
                border: solid white;
                transition: 1s;
                &:hover {
                    rotate: 360deg;
                    filter: opacity(50%);
                    @keyframes rotate {
                        from {
                            transform: rotate(0deg);
                        }
                        to {
                            transform: rotate(7560deg);
                        }
                    }
                }
            }
        }

        #cont-menu {
            width: 80%;
            display: flex;
            justify-content: center;
            list-style: none;
            font-size: 0;

            .nav__ul {
                width: 100%;
                list-style: none;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 0 !important;
                padding: 0 !important;
            }

            .ul-cont-submenus {
                position: absolute;
                display: none;
                margin: 0 !important;
                padding: 0 !important;
                text-align: center;
                width: 100%;
                li {
                    display: block;
                }
            }

            .li-cont-submenus-menu {
                position: relative;
                font-size: 20px;

                &:hover {
                    background-color: $colornegro;
                    box-shadow: 0 0 7px 1px $color-texto;


                    .ul-cont-submenus {
                        display: block;
                        background-color: $colornegro;
                        box-shadow: 0 0 7px 1px $color-texto;
                        width: 100%;
                    }
                }
                        .li-cont-submenus-menu {
                position: relative;
                font-size: 20px;

                &:hover {
                    background-color: $colornegro;
                    box-shadow: 0 0 7px 1px $color-texto;


                    .ul-cont-submenus {
                        display: block;
                        background-color: $colornegro;
                        box-shadow: 0 0 7px 1px $color-texto;
                        width: 100%;
                    }
                }

                &:focus-within .ul-cont-submenus {
                    display: block;
                }

                
            }
        }

        #tit-pag {
            margin-top: 10%;
            display: flex;
            justify-content: center;
            width: 100%;

            h1 {
                color: $text-color;
                text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #000000;
                animation: glow 1.5s infinite alternate;
                font-size: 2rem;
                margin: 0;
            }
        }
    }
}
// Responsividad para pantallas más pequeñas (<= 768px) - Mostrar los submenús desplegados por defecto
@media (max-width: 768px) {
    header {
        height: 400px;
    }
    
    #tit-pag {
        margin-top: 10%;

    }

    #cont-imagen-menu, #cont-menu {
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }

    #cont-menu .nav__ul {
        flex-direction: column;
        align-items: center;
    }

    .li-cont-submenus-menu {
        width: 100%;
    }

    .ul-cont-submenus {
        width: 100%;
        display: block; 
        background-color: $colornegro;
    }

    #tit-pag h1 {
        font-size: 1.5rem;
    }
}

// Responsividad para pantallas más pequeñas (<= 480px)
@media (max-width: 480px) {
    header {
        height: 450px;
    }

    #cont-imagen-menu {
        width: 30%;

    }

    #tit-pag h1 {
        font-size: 1.2rem;
    }
}



//--------------FOOTER------------------


.footer {
    padding: 2rem 0;
    background-color: $color-footer;
  
    &__container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 2rem;
  
      @media (max-width: 768px) {
        flex-direction: column;
      }
    }
  
    &__section {
      flex: 1;
  
      &--map {
        iframe {
          border: none;
          border-radius: 8px;
        }
      }
    }
  
    &__title {
      font-size: 1.25rem;
      margin-bottom: 1rem;
      border-bottom: 2px solid $colorvioletaoscuro;
      display: inline-block;
      color: $color-texto;
    }
  
    &__list {
      list-style: none;
      padding: 0;
      margin: 0;
      color: $color-texto;
  
      .footer__link {
        text-decoration: none;
        margin-bottom: 0.5rem;
        display: block;
  
        &:hover {
          color: $colorvioleta;
        }
      }
    }
  
    &__bottom {
      text-align: center;
      margin-top: 2rem;
      font-size: 0.875rem;
      border-top: 1px solid;
      padding-top: 1rem;
      color: $color-texto;
    }
  }
