*{
    padding: 0%;
    margin: 0%;
}

body{
    background-color: #5549ff;

}

#titulo1{
    justify-content: center;
    margin-top: 1%;
    margin-left: 27%;
    margin-right: 10%;
    background-color: #2783fa;
    color: black;
    border-radius: 25px;
    width: 550px;
    height: 50px;
    transition: width 2s, height 2s;
    }
    #titulo1:hover{
        color: white;
        width: 575px;
        height: 60px;
        background-color: rgb(6, 132, 250);
}

h2{
    margin-left: 13%;
    margin-right: 15%;
    justify-content: center;
    margin-top: 3%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h3{
    margin-top: 3%;
    justify-content: center;
    margin-left: 13%;
    margin-right: 10%;
    font-family: Arial, Helvetica, sans-serif;
}

h4{
    font-size: 40px;
    margin-top: 3%;
    justify-content: center;
    margin-left: 40%;
    margin-right: 1%;
    animation: aparecer 4s 2;
}
@keyframes aparecer{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
        color: white;
    }
}

h5{
    font-size: 30px;
    margin-top: 3%;
    justify-content: center;
    margin-left: 25%;
    margin-right: 25%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.section-img-galaxia{
    margin-top: 3%;
    justify-content: center;
    margin-left: 32%;
    margin-right: 10%;
    display: flex;
    width: 400px;
    height: 250px;

}

#div-carousel-tamano{
    width: 100%;
    height: 550px;
}


@mixin medidasFotos($ancho, $alto){
    height: $alto;
    width: $ancho;
}


.cont-fotos{
    @include medidasFotos(350px, 400px);
    border: solid 8px rgb(0, 110, 255);
}

