*{
    padding: 0%;
    margin: 0%;
}

body{
    background-color: #067882;
}


#div-titulo1{
    justify-content: center;
    margin-top: 1%;
    margin-left: 28%;
    margin-right: 10%;
    background-color: rgb(6, 100, 100);
    color: black;
    border-radius: 25px;
    width: 550px;
    height: 50px;
    transition: width 2s, height 2s;
    }
    #div-titulo1:hover{
        color: white;
        width: 575px;
        height: 60px;
        background-color: rgb(6, 140, 150);
}

#titulo1{
    justify-content: center;
    margin-top: 1%;
    margin-left: 42%;
    margin-right: 10%;
    animation: aparecer 4s 5;
}
@keyframes aparecer{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
        color: white;
    }
}


#divtitulo2{
    font-size: 20%;
    margin-left: 15%;
    margin-right: 15%;
    justify-content: center;
    margin-top: 3%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#div-titulo3{
    margin-top: 3%;
    justify-content: center;
    margin-left: 27%;
    margin-right: 25%;
    font-family: Arial, Helvetica, sans-serif;
    transition: transform 0.3s ease;
}

#div-titulo3:hover{
    transform: scale(1.3);
}

#titulo3{
    margin-top: 3%;
    justify-content: center;
    margin-left: 28%;
    margin-right: 10%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    animation: aparecer 4s 5;
}
@keyframes aparecer{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
        color: white;
    }
}

#div-h3-titulo3{
    display: inline-block;
    padding: 10px 20px;
    margin: 20px auto;
    background-color: rgb(6, 160, 170);
    color: black;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

#div-h3-titulo3:hover{
    transform: scale(1.1);
    background-color: rgb(6, 140, 150);
}

#div-titulo4{
    font-size: 40px;
    margin-top: 3%;
    justify-content: center;
    margin-left: 40%;
    margin-right: 1%;
    animation: aparecer 4s 5;
}
@keyframes aparecer{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
        color: white;
    }
}

#titulo4{
    font-size: 40px;
    margin-top: 3%;
    justify-content: center;
    margin-left: 28%;
    margin-right: 25%;
    transition: transform 0.3s ease;
}

#titulo4:hover{
    transform: scale(1.2);
}

#div-titulo5{
    font-size: 30px;
    margin-top: 3%;
    justify-content: center;
    margin-left: 25%;
    margin-right: 25%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

#div-titulo6{
    font-size: 30px;
    margin-top: 3%;
    justify-content: center;
    margin-left: 20%;
    margin-right: 25%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
 
}


.section-img-galaxia{
    margin-top: 3%;
    justify-content: center;
    margin-left: 32%;
    margin-right: 10%;
    display: flex;
    width: 400px;
    height: 250px;

}

#div-carousel-tamano{
    width: 100%;
    height: 550px;
}

#div-carousel-tamanos{
    margin-left: -1%;
    margin-right: 15%;
    width: 320px;
    height: 500px;
    margin-top: 5%;
}


#fotos-center{

    margin-left: -5%;
}


@mixin medidasFotos($ancho, $alto){
    height: $alto;
    width: $ancho;
}


.cont-fotos1{
    @include medidasFotos(350px, 400px);
    border: solid 8px rgb(6, 140, 150);
}


.cont-fotos2{
    @include medidasFotos(350px, 400px);
    border: solid 10px rgb(6, 140, 150);
    transition: transform 0.1s ease;
}


.cont-fotos2:hover{
    transform: scale(0.8);
}

#video-tamano{
    margin-left: 22%;
    width: 710px;
    height: 450px;
}

#pasos-video{
    justify-content: center;
    margin-right: 100%;
    animation: aparecer 4s 5;
}

@keyframes aparecer{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
        color: white;
    }
}

#titulo1-pag2{
    justify-content: center;
    margin-top: 1%;
    margin-left: 44%;
    margin-right: 10%;
    animation: aparecer 4s 5;
}
@keyframes aparecer{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
        color: white;
    }
}

#titulo4-pag2{
    font-size: 40px;
    margin-top: 3%;
    justify-content: center;
    margin-left: 26%;
    margin-right: 25%;
    transition: transform 0.3s ease;
}

#titulo4-pag2:hover{
    transform: scale(1.2);
}

#titulo1-pag3{
    justify-content: center;
    margin-top: 1%;
    margin-left: 27%;
    margin-right: 10%;
    animation: aparecer 4s 5;
    transition: transform 0.3s ease;
}
@keyframes aparecer{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
        color: white;
    }
}

#titulo1-pag3:hover{
    transform: scale(1.1);
}

#accordionFlushExample{
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 25%;
}

#letra-color-pag3{
    color: #067373;
}

