*{
    padding: 0%;
    margin: 0%;
}

body{
    background-color: #067882;
}

#div-titulo1{
    justify-content: center;
    margin-top: 1%;
    margin-left: 27%;
    margin-right: 10%;
    background-color: rgb(6, 100, 100);
    color: black;
    border-radius: 25px;
    width: 550px;
    height: 50px;
    transition: width 2s, height 2s;
    }
    #div-titulo1:hover{
        color: white;
        width: 575px;
        height: 60px;
        background-color: rgb(6, 140, 150);
}

#titulo1{
    justify-content: center;
    margin-top: 1%;
    margin-left: 40%;
    margin-right: 10%;
}

#divtitulo2{
    font-size: 20%;
    margin-left: 13%;
    margin-right: 15%;
    justify-content: center;
    margin-top: 3%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#div-titulo3{
    margin-top: 3%;
    justify-content: center;
    margin-left: 13%;
    margin-right: 10%;
    font-family: Arial, Helvetica, sans-serif;
}

#titulo3{
    margin-top: 3%;
    justify-content: center;
    margin-left: 26%;
    margin-right: 10%;
    font-family: Arial, Helvetica, sans-serif;
}

#div-titulo4{
    font-size: 40px;
    margin-top: 3%;
    justify-content: center;
    margin-left: 40%;
    margin-right: 1%;
    animation: aparecer 4s 5;
}
@keyframes aparecer{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
        color: white;
    }
}

#titulo4{
    font-size: 40px;
    margin-top: 3%;
    justify-content: center;
    margin-left: 28%;
    margin-right: 25%;
}

#div-titulo5{
    font-size: 30px;
    margin-top: 3%;
    justify-content: center;
    margin-left: 25%;
    margin-right: 25%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

#div-titulo6{
    font-size: 30px;
    margin-top: 3%;
    justify-content: center;
    margin-left: 20%;
    margin-right: 25%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
 
}


.section-img-galaxia{
    margin-top: 3%;
    justify-content: center;
    margin-left: 32%;
    margin-right: 10%;
    display: flex;
    width: 400px;
    height: 250px;

}

#div-carousel-tamano{
    width: 100%;
    height: 550px;
}


@mixin medidasFotos($ancho, $alto){
    height: $alto;
    width: $ancho;
}


.cont-fotos1{
    @include medidasFotos(350px, 400px);
    border: solid 8px rgb(6, 140, 150);
}

.cont-fotos2{
    @include medidasFotos(350px, 400px);
    border: solid 10px rgb(6, 140, 150);
}

