*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../assets/imagenes/gif-de-verdad.gif);
}
@import "menuyfooter";
@import "camilo";
@import "gonzalo";
@import "matilda";
@import "pachu";
@import "melilli";