*{
    margin: 0;
    padding: 0;
}
$colornegro: #261A23;
$colorvioletaoscuro: #4F2859;
$colorvioleta: #6A378C;
$colorcyan: #067373;
$colormarron: #593936;
$text-color: white; 
.main-fondo{
    background-image: url(../assets/imagenes/gif-de-verdad.gif);
}
@import "menuyfooter";
@import "camilo";
@import "gonzalo";
@import "matilda";
@import "pachu";
@import "melilli";